body { 
     
    
    background-image: url("../images/cn.jpg");
    
}

header {
    text-align: center;
    margin-top: 30px;
    /* margin-left: 18%; */
    /* position: absolute; */
    /* opacity: 1; */
    /* z-index: 1; */
}

.wrapper {
    margin-top: 15px;
background-color: rgb(252, 255, 93);
/* opacity: .5; */
height: 575px;
left: 17%;
right: 17%;
position: absolute;
/* z-index: 0; */
} 

h2{
    display: hidden;
}

#gameTimer {
    display: none;
}

.buttonProperties {
background-color: pink;
margin-left: 350px;
}

.btn-primary:hover { border-color: rgb(252, 13, 65); background-color: rgb(20, 250, 231); }
